<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% for(const commet of comment) { %>
            <form action="comments/<%= commet.id%>/?_method=DELETE" method="post"><li class = "list-item"><%= commet.user + " " + commet.text %> <button>Delete</button> </form></li> 
       <%  } %>
     </ul>
    <form action="/comments/new" method="get" ><button><a>Add New Comment</a></button></form>
</body>
<script>
    document.getElementById('add-new-comment').addEventListener('click',() => {
        document.getElementById('form').style.display = 'block';
    })
</script>
</html>