<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new comment</title>
</head>
<body>
    <form id = "form" method = "post" action = "/comments">
        <label for="user">user</label>
        <input type="text" id = "user" name = "user">
        <label for="password">text</label>
        <input type = "text" id = "password" name = "Text"></input>
        <button>Submit</button>
    </form>
</body>
</html>