h1 {
    border: 1px black solid;
    display: inline;
    background-color: bisque;
    padding-left: 2px;
    padding-right: 2px;
}
span {
    border: 1px red solid;
    background-color: brown;
    display: block;
    margin-top: 2px;
    color: aliceblue;
}
div {
    display: inline-block;
    height: 30vh;
    width: 25vw;
    border: 1px black solid;
    padding: 2%;
    margin-top: 5%;
    background-color: brown;
    border-radius: 10px;
    text-indent: justify;
    color: aliceblue;
}
div img {
    height: 7vh;
    width: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
