
* {
    box-sizing: border-box;
    transition-duration:0.5s;
}

body {
    background-color: black;
    color: aliceblue;
    overflow-x: hidden;
}


.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-around;
    border: 2px solid black;
    color:beige;
    background-color: rgb(0,0,0);
    height:13vh;
    border-bottom: 0.5px solid rgba(256,256,256,0.3);
}

.logo-item {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 1s;
}

.logo-item:hover {
    scale:1.25;
}
.nav-items {
    transition-duration: 1s;
}
.nav-items:hover {
    scale: 1.5;
    text-decoration: underline;
    cursor:pointer;
}
.options {
    width:45%;
    display: flex;
    /* border: 1px solid rebeccapurple; */
    justify-content: space-between;
    align-items: center;
}
.cart-search {
    width: 10%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}
.tool {
    transition-duration: 0.5s;
}

.tool:hover {
    scale: 1.5;
    cursor: pointer;
}

.home-page {
    display: flex;
    background: url('home-img.jpeg') no-repeat;
    background-size: contain;
    background-repeat:no-repeat;
}

.home {
    padding: 17rem 60% 19rem 10%;
    color: white;
}
.home h3 {
    font-size: 40px;
}

.home p {
    font-size: 90%;
}

.home button {
    padding: 1rem;
    border-radius: 8%;
    background-color: sandybrown;
    font-weight: 800;
}

.home button:hover {
    scale: 1.5;
}

.about-us {
    text-align: center;
}

.about-us h3 {
    font-size: 50px;
}

.about-us span {
    color: sandybrown;
}
.about-items {
    padding: 2rem;
    display: flex;
    border: 1px solid rgba(256,256,256,0.3);
    align-items: center;
}

.about-text {
    align-items: center;
    padding: 2rem;
}
